numpy
pandas
python-logstash
logstash_formatter
requests-unixsocket 
pymysql
peewee
pandas
pilton
headlessplot

#dda-queue==1.1.13

git+git://github.com/volodymyrss/dqueue@0611deb93297cc747d1bd9f83ed9ffbbb964cf9a#egg=dda-queue

#clone https://github.com/mtorromeo/mattersend.git && cd mattersend && pip install pyfakefs && pip install . 

#data-analysis==1.1.6
git+git://github.com/volodymyrss/data-analysis@2dd3b55#egg=data-analysis


gunicorn

#git+https://github.com/volodymyrss/dda-ddosadm.git
#git+https://github.com/volodymyrss/dda-ddosa.git@7c45922 
#git+https://github.com/volodymyrss/dlogging.git@6df5b37 --upgrade

raven
mattersend
flask

#pyyaml==3.12
pyyaml>=5.2

pathlib

bravado
